<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kastle-ts</title>
    <link rel="stylesheet" href="/views/index.css">
    <script src="/views/index.js" defer></script>
</head>
<body>
    <header>
        <h1>Welcome, <div id="username"></div></h1>
        <nav id="navContainer">
            <div id="navButtons">
                <!-- Buttons will be dynamically added/removed here -->
            </div>
        </nav>
    </header>
</body>
</html>
