<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kastle-ts</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/views/login/login.css">
    <script src="/views/login/login.js" defer></script>
   </head>
<body>
  <div class="wrapper">
    <h2>Login</h2>
    <form action="#">
      <div class="input-box">
        <input type="text" id="username" placeholder="Enter your username">
      </div>
      <div class="input-box">
        <input type="password" id="password" placeholder="Enter your password">
      </div>
      <div class="input-box button">
        <input type="Submit" value="Login" id="login-submit-button">
      </div>
      <div class="text">
        <p id="link-to-registration" style="text-align: center;">Don't have an account? <a href="/register"><b>Register now</b></a></p>
      </div>
    </form>
  </div>
</body>
</html>
